.sidebar{
    height:100%;
    width:190px;
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    overflow-x: hidden;
    background-image: url("/OPCS/resources/images/administrator/Sidebar.jpg");
    padding-top:15px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0.95;
}
.close-btn{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.selected{
    color: black !important;
    border-left: 3px solid whitesmoke !important;
    background: #1C4E80 !important;
}

.toggle-menu{
    font-size: 32px;
    color: white;
    margin-left: 25%;
}
.open-btn:hover {
    background-color:whitesmoke;
}

.name,.email{
    color: #ebebeb;
    line-height: 26px;
}
ul,li{
    list-style-type: none;
    margin:auto;
    padding:0;
    box-sizing: content-box;
    line-height: 40px;
}
.Menu a{
    padding:8px;
    text-decoration: none;
    font-size: 20px;
    color: #ebebeb;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align:left;
    cursor: pointer;
    outline: none;
    font-weight: 200;
    border-left: 3px solid transparent;
    float: left;
}
.image{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile{
    text-align: center;
}

.Add-product{
    clear: right;
}
.function-image{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    float: left;
    padding-right: 10px;
    margin-top: 5px;
}
li a:hover {
    color: black;
    border-left-color: whitesmoke;
    background: #1C4E80;
}
nav ul ul {
    position: static;
    display: none;
}
.Menu a i{
    position: absolute;
    top: 30%;
    right: 35px;
    transition: transform 0.3s;
}
nav ul li a{
    position: relative;
}
.Menu a i:hover{
    transform: rotate(-180deg);
}
.show{
    display: block;
}
#searchbar{
    background:#4D4D4D;
    padding: 20px;
    max-width: calc(100% - 220px);
    margin-left:200px;
    transition: all .5s;
}
body{
    margin: 0;
    padding: 0;
}
#search-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-icon{
    margin-right: 45px;
}

.user-icon a{
    color: #FFF;
}

.Message-icon{
    color: white;
    width: 36px;
    height: 36px;
}
html, body {
    max-width: 100%;
    /* overflow-x: hidden; */
}